{% load staticfiles %}
<html>

<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="static/main.css" media="screen,projection" />
</head>

<body class="blue">
    <div class="wrapper card-panel">
        <div class="row center-align">
            <div class="col s12 m6 offset-m3">
                <img class="responsive-img" src="static/logo.png">
            </div>
        </div>
        <div class="row center-align">
            <div class="input-field col s12 m6 offset-m3">
                <input id="dest" type="text" class="validate">
                <label for="dest">Destination</label>
            </div>
        </div>
        <div class="row center-align">
            <div class="input-field col s12 m3 offset-m3">
                <input id="sleep" type="text" class="validate">
                <label for="sleep">Hours Sleep</label>
            </div>
            <div class="input-field col s12 m3">
                <input id="bed" type="text" class="validate">
                <label for="bed">Usual Bed Time</label>
            </div>
            <div class="col s12 center-align">
                <button class="btn waves-effect" id="sub">Calculate time difference</button>
            </div>

        </div>

        <div id="contain" class="center-align">
            
        </div>
    </div>


    {% block footer %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>

    <script>
        $("#sub").click(function () {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function (location) {
                    console.log(location.coords.latitude);
                    console.log(location.coords.longitude);
                    console.log(location.coords.accuracy);
                    $.post("api", {
                            lat: location.coords.latitude,
                            long: location.coords.longitude,
                            sleep: $('#sleep').val(),
                            bed: $('#bed').val(),
                            destination: $('#dest').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        })
                        .done(function (data) {
                            console.log(data)
                            data = JSON.parse(data)
                            $("#contain").empty();
                            $("#contain").append("<div class='col s12 m6 offset-m3' id ='content'>")
                            $("#content").append("<h4>" + data['yname'] + "</h4>");
                            $("#content").append("You should go to bed at " + data['y'] + "<br />");
                            $("#content").append("You should get up at " + data['yget']+  "<br />");
                            $("#content").append("<h4>" + data['xname'] + "</h4>");
                            $("#content").append("You should go to bed at " + data['x'] + "<br />");
                            $("#content").append("You should get up at " + data['xget']) + "<br />";

                        });
                });
            } else {
                console.log("Incompatible browser")
            }

        })
    </script>
    {% endblock %}

</body>

</html>